{% extends 'default_layout.html' %}

<head>
      <title>Default UI</title>
</head>

{% block content %}
    <form action="{{ url_for('reload_dynamic_ui') }}" method="post">
        <p>You have not configured the UI. Please create a configuration file as per the UI development guidelines</p>
        <input type="text" name="filename">
        <input type=submit value=Reload UI class="btn btn-primary">
    </form>
{% endblock %}